/* .affirmation-display-div {
  border: 1pt;
  border-style: solid;
  text-align: center;
} */
.welcome {
  text-align: center;
}

.dropdown-and-button{
  display: flex;
  justify-content: center;

}

.affirmation-display-box {
  text-align: center;
  border: rgba(139, 15, 139, 0.855);
  border-style: inset;
  margin: 25px;
  padding: auto;
  min-height: 100px;
}
.splash {
  text-align: center;
}
.prompt {
  text-align: center;
  padding: auto;
  margin: 25px;
}

.navbar {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}
.profile {
  text-align: center;
  overflow-wrap: break-word;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  padding-top: 25px;
  background-image: url(../public/image.png);
  /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0.908),rgba(255, 149, 0, 0.946),rgba(255, 225, 1, 0.876),rgba(46, 162, 46, 0.836), rgba(50, 15, 225, 0.846), rgba(139, 15, 139, 0.855));   */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding-top: auto;
  padding-bottom: auto;
}